body {
    background: gray;
  }
  
h2 {
    clear: both;
    margin-bottom: 0.5em;
    padding-top: 1em;
  }
  
ul {
    list-style-type: none;
  }
  
ul.llista1 li {
    float:left;
    width: 10em;
    border: 5px dashed purple;
    margin-right: 1em;
    padding: 0.5em;
    background-color: green;
    color: purple;
    font-weight: bold;
    text-align: center;
  }
  
ul.llista2 {
    text-align: center;
  }
  
ul.llista2 li {
    display: inline;
    border: white 2px solid;
    border-color: white black black white;
    margin: 0em 0.5em;
    padding: 0.25em 0.5em;
    background-color: white;
  }
  
ul.llista2 li:hover {
    border: white 2px solid;
    border-color: black white white black;
    background-color: gray;
  }
  
ul.llista3 {
    width: 11em;
    border: black 1px solid;
    padding: 0.5em;
    text-align: center;
  }
  
ul.llista3 li {
    width: 9em;
    border: black 1px solid;
    margin: 0.5em 0 0.5em 0.5em;
    padding: 0.5em;
    background-color: white;
    text-align: center;
  }
  
ul.llista4 {
    text-align: center;
  }
  
ul.llista4 li {
    display: inline-block;
    width: 10em;
    margin: 0;
    padding: 0.5em 0;
    background-color: white;
    color: blue;
    font-weight: bold;
  }
  
ul.llista4 li.blanquiazul {
    background-color: blue;
    color: white;
  }
  
ul.llista5 li {
    float:left;
    margin-right: 2em;
  }
 
  
 